
* {
  box-sizing: border-box;
}
.background-details{
    background-image: url("images/con_5.jpeg");            
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   
}
.heading{
   background: rgb(51, 0, 0,0.8);           
   color: #ffdb4d;
   font-family: Rockwell;
   font-size:32px;
   text-shadow:5px 5px 10px #000;
   
}
.menu {
  background: rgb(0, 0, 0,0.5);  
  float: left;
  width: 20%;
}
.menu-item {
  font-family:Century Gothic;
  font-size:20px;
  padding: 20px;
  height: 60px;
  border-bottom: 2px solid #f1f1f1;
  text-align:left;
  list-style-type: none;
  color:white;
}
.menu-item:hover{
  color:#330000;
  font-weight:bold;
  cursor:pointer;
  background-color:white;
}
a{       
  text-decoration: none;
  display: inline-block;   
  font-size:20px;
  color:white;
  font-weight:bold;
  font-family:Trebuchet MS; 
}
a:hover{
  color:#cc9966;
  font-weight:none;
}
 
.main {
  background: rgb(0, 51, 51,0.4);
  float: left;
  width: 60%;                    
  background-color:none;
  text-align:center;
  color:#fff3e6;
  text-shadow:5px 5px 10px black;
  font-size:20px;  
}
.images {
  width:40%;
  margin:2px;
  border:2px #fff3e6 solid;
  border-radius:50px;
}
.right {
  background: rgb(0, 51, 0,0.6);
  float: left;
  width: 20%;
  padding: 10px 15px;
  color:white;
  font-size:17px;
  text-shadow:5px 5px 10px black;
}
.right-menu{
  font-family:Trebuchet MS;
  color:#e6fff2;
}

.before-reg{
  width:100%;
  background: linear-gradient(to right, #4d0000 0%, #003300 100%);
  text-align:center;
  color:#fff0b3;
  font-family:Century Gothic;
  padding:5px 20px;
  margin-top:20px;
  border:2px white solid;
  border-radius:20px;
}
.down{  
  background: rgb(255, 255, 230,0.8);           
  margin:auto;
  margin-top:20px;
  width:30%;
  padding:10px;
  color:#003333;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  font-size:23px;
  border:2px black solid;
  border-radius:20px;
}

.inside-box{
  width:100%;
  background-color: black;
  font-size:25px;
  color:#e6ffff;          
  border:2px white solid;
  border-radius:5px;
  padding:2px;
  margin-top:5px;
}
.purchase{
  background: linear-gradient(to bottom, #ffffff 54%, #ccffff 130%)
  text-align:center;
  border:2px #003333 solid;
  border-radius:5px;
  font-size:25px;
  color:#003333;          
}
.purchase:hover{
  cursor:pointer;
  background: linear-gradient(to bottom, #4d0000 0%, #003300 100%);
  color:white;
}
footer{
  width:100%;
  text-align:center;
  font-size: 20px;
  background-color:#1a0d00;
  padding:1px;
  margin-top:10px;
}

.text{
  color:#f3e5d8;                                               
}
.nav li {
  display: inline-block;
  border:none;
  font-family:verdana;
  margin: 0 20px;
  padding:5px;  
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;        
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {       
  color: white;
}
.fa-twitter {        
  color: white;
}
.fa-linkedin {       
  color: white;
}
.fa-instagram {        
  color: white;
}      
.top-icon {        
  font-size: 18px;        
}      
.icons{
  width:100%;        
  text-align:center;
}


@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right, .heading, .menu, .down, .before-reg, .footer, .nav, .top-icon, .icons {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .heading, .menu, .main, .right, .down, .before-reg, .footer, .nav, .top-icon, .icons{
    width: 100%;
  }
}
